__pycache__/
*.pyc
.venv/
venv/
env/

.vscode/
.idea/
.DS_Store
Thumbs.db

data/raw/
data/processed/
data/voxconverse_hf/
data/voxconverse_kaggle/

backend/pretrained_models/
pretrained_models/

*.zip
*.tar
*.tar.gz
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

reports/voxconverse_tests/
reports/voxconverse_kaggle/
reports/voxconverse_kaggle_adaptive/
